.connection-popup {
  position: absolute;
  transform: translate(-50%, -102%);
}

.connection-popup::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e8e8e8;
  clear: both;
}
