listen 80;
listen [::]:80;

# server_name example.com;
root /usr/share/nginx/html;

# index.html fallback
location / {
    try_files $uri $uri/ /index.html;
}

# security headers
add_header X-Frame-Options "SAMEORIGIN" always;
add_header X-XSS-Protection "1; mode=block" always;
add_header X-Content-Type-Options "nosniff" always;
add_header Referrer-Policy "no-referrer-when-downgrade" always;
add_header Content-Security-Policy "default-src * data: 'unsafe-eval' 'unsafe-inline'" always;

# . files
location ~ /\.(?!well-known) {
    deny all;
}

# service index html
location ~ (index.html)$ {
    add_header Last-Modified $date_gmt;
    add_header Cache-Control 'no-store, no-cache, must-revalidate, oxy-revalidate, max-age=0';		
    expires off;
    proxy_cache_bypass $http_pragma;
    proxy_cache_revalidate on;
    access_log off;
    etag on;
}


# svg, fonts
location ~* \.(?:svgz?|ttf|ttc|otf|eot|woff2?)$ {
    expires 7d;
    access_log off;
}